#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

preprocess do
  def create_sitemap
    @items << Nanoc3::Item.new(
      "<%= xml_sitemap %>",
      { :extension => 'xml' },
      '/sitemap/'
    )
  end

  def create_webmaster_tools_authentications
    @site.config[:webmaster_tools].each do |file|
      next if file[:identifier].nil?
      content    = file.delete(:content)
      identifier = file.delete(:identifier)
      @items << Nanoc3::Item.new(
        content,
        file,
        identifier
      )
    end
  end

  def create_default_robots_txt
    if @site.config[:default_robots_txt]
      @items << Nanoc3::Item.new(
        "User-agent: *\nDisallow: /assets\n",
        { :extension => 'txt' },
        '/robots/'
      )
    end
  end

  create_default_robots_txt
  create_webmaster_tools_authentications
  create_sitemap
end

compile %{/assets/(lib|styles)/} do
  # Use erb to enable timestamps and author information and such.
  filter :erb
  filter :jslint if @item[:extension] == 'js' && @site.config[:jslint]
  filter :concat
  filter :cache_buster
  filter :less if @item[:extension] == 'less'
  filter :minify
end

compile %r{^/(google|robots|htaccess|404|500|assets)} do
  # don't filter or layout
end

compile '/sitemap/' do
  filter :erb
  filter :clean_sitemap if item.identifier == '/sitemap/'
end

compile '*' do
  filter :erb
  filter :kramdown if item[:extension] == 'md'
  filter :typogruby
  filter :cache_buster if @site.config[:cache_busting]
  layout 'default'
end

route '/' do
  '/index.html'
end

route '/htaccess/' do
  '/.htaccess'
end

route %r{^/(assets/.*|sitemap|robots|atom)/$} do
  item.identifier.chop + '.' + item[:extension]
end

route '*' do
  item.identifier.chop + '.html'
end

layout '*', :erb
