<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="<%= @site.config[:meta_data][:lang] %>" class="no-js ie ie6 lte7 lte8 lte9"> <![endif]-->
<!--[if IE 7 ]>    <html lang="<%= @site.config[:meta_data][:lang] %>" class="no-js ie ie7 lte7 lte8 lte9"> <![endif]-->
<!--[if IE 8 ]>    <html lang="<%= @site.config[:meta_data][:lang] %>" class="no-js ie ie8 lte8 lte9"> <![endif]-->
<!--[if IE 9 ]>    <html lang="<%= @site.config[:meta_data][:lang] %>" class="no-js ie ie9 lte9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="<%= @site.config[:meta_data][:lang] %>" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title><%= @item[:title] %> &bull; <%= @site.config[:meta_data][:title] %></title>
        <%= meta_tag :keywords %>
        <%= meta_tag :description %>
        <%= meta_tag :copyright %>
        <%= meta_tag :author %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="alternate" title="<%= @site.config[:meta_data][:title] %> Atom feed"  type="application/atom+xml" href="<%= @site.config[:feed_url] %>">
        <link rel="stylesheet" href="/assets/styles.css">
        <link href="/favicon.png" rel="shortcut icon">

        <% if @site.config[:meta_data][:ga_tracking_code] %>
        <script>
            var _gaq = [['_setAccount', '<%= @site.config[:meta_data][:ga_tracking_code] %>'], ['_trackPageview']];
            (function(d, t) {
                var g = d.createElement(t),
                    s = d.getElementsByTagName(t)[0];
                g.async = true;
                g.src = '//www.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g, s);
            })(document, 'script');
        </script>
        <% end %>
    </head>
    <body>

        <div id="page">

            <div id="header" role="banner">

                <h1><%= @site.config[:meta_data][:title] %></h1>

                <nav>
                    <ul>
                        <li><a href="#">Section 1</a></li>
                        <li><a href="#">Section 2</a></li>
                        <li><a href="#">Section 3</a></li>
                    </ul>
                </nav>

            </div><!-- /header -->

            <div id="content" role="maincontent">

                <%= yield %>

            </div><!-- /content -->

            <div id="footer" role="contentinfo">

                <p class="col"><%= @site.config[:meta_data][:copyright] %></p>

            </div><!-- /footer -->

        </div><!-- /page -->

        <script src="/assets/lib.js"></script>
    </body>
</html>